<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body>
  <a href="/usuarios/listar"><button>Lista de usuarios</button></a>
  <a href="/usuarios/cadastrar"><button>Cadastros de usuarios</button></a>
  <a href="/"><button>Home</button></a>
   <h1>Lista de usuarios</h1> 
   <div style="background-color: gray;"><% usuarios.forEach((usuario) => { %>
    <p style="color: white;"><%= usuario.nome %></p>
    <p style="color: white;"><%= usuario.senha %></p>
<% }) %></div>
</body>
</html>