<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <title>Cadastro</title>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/usuarios/listar">Lista de Usuarios</a></li>
    <li><a href="/usuarios/cadastrar">Cadastrar</a></li>
    <form class="test" action="/deslogar" method="post">
      <input class="btnDeslogar" type="submit" value="Deslogar" />
    </form>
  </ul>

  <div class="page">
        <form method="post" class="formLogin" action="/usuarios/cadastrar">
            <h1>Cadastra-se</h1>

            <label for="text">Nome</label>
            <input type="text" placeholder="Digite seu nome" autofocus="true" name="nome" id=""/>
            
            <label for="password">Senha</label>
            <input  type="password" placeholder="Digite sua senha" name="senha" id=""/>

            <label for="password">Confimar senha</label>
            <input  type="password" placeholder="Digite sua senha" name="senhacf" id=""/>

            <input type="submit" value="Cadastrar" class="btn" />
        </form>
    </div>
   
</body>
</html>